img {
    max-width: 300px;
}
label, select {
    display: block;
}
#clockpage  {
    background-color:#f5dfee;
}
#partywoo {
    background-color:#828dca;
    
}

#clock {
    font-size: 100px;
}
@media only screen and (min-width: 1024px) {
    #clock {
        font-size: 100px;
    }
  }
  @media only screen and (max-width: 1023px) {
    #clock {
        font-size: 30px;
    }
  }